h1 { 
    color:#48D1CC ;
    text-align: center;
}

h2 {
    color:#B0E0E6 ;
    text-align: center;
}

p.note {
    border: thin gray solid;
    margin: 1.5em 3em;
    padding: 0.5em;
    background-color: #FFFF99; 
    font-size: 12pt;
}
hr{border-width: medium;
border-color: #FFFF99;}

a:link{color:palegreen;}
